.input {
    background-color: #fff;
    color: #101010;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 20px 15px;
    font-size: 20px;
    font-family: monospace;
}
.text-input{
    width: 350px;
}
.textarea{
    resize: none;
    width: 100%;
}